<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/layouts/layout}">

	<head>
		<meta charset=UTF-8>
		<title>타임리프 샘플 페이지 겸 메인 페이지</title>

		<!-- CSS 파일 추가 부분 -->
		<!--
		<link th:href="@{/css/main.css}" rel="stylesheet" />
		-->

		 <!-- JS 파일 추가 부분 -->
		 <!--
		 <script type="text/javascript" th:src="@{/js/element.js}"></script>
		 -->
	</head>

	<body>
		<h1> Hello! ThymeLeaf Template </h1><br/><br/>
		<h3> Thymeleaf Template Guide</h3>
		<div layout:fragment="content">
			<h5> ${...} 변수 표현식 </h5>
			<!--
			<span th:text="${test.testNm}"></span>
			 -->

			<h5> ${...} 선택변수 표현식</h5>
			<!--
			<div th:object="${test1}">
				<span th:text="*{name}"></span><br/>
				<span th:text="*{age}"></span><br/>
				<span th:text="*{company}"></span>
			</div>
			 -->

			<h5> #{...} 메시지 표현식</h5>
			<!--
			<span th:text="#{TEST.TEST5}"></span><br/>
			 -->

			<h5> @{...} 링크 URL 표현식</h5>
			<!--
			<a th:href="@{http://www.naver.com}"> naver.com </a><br/>
			 -->

			<h5> ~{...} fragment 표현식</h5>
			<!--
			<div th:insert="~{common/footer :: samplefooter}"></div>
			 -->

			<h5> data Rendering Test</h5>
			<span th:text="${hello.welcome}"></span> <br/><br/>
			<h6>
				<span th:text="${hello.usrNm}"></span><br/>
				<span th:text="${hello.usrCmt}"></span>
			</h6>
		</div>
	</body>
</html>